aniso8601==8.1.0
arabic-reshaper==2.1.1
attrs==20.3.0
click==7.1.2
configparser==5.0.1
Flask==1.1.2
Flask-Cors==3.0.9
flask-restx==0.2.0
future==0.18.2
itsdangerous==1.1.0
Jinja2==2.11.2
jsonschema==3.2.0
MarkupSafe==1.1.1
Pillow==8.1.1
pyrsistent==0.17.3
python-bidi==0.4.2
pytz==2020.4
reportlab==3.5.56
six==1.15.0
Werkzeug==1.0.1
